// Define variables for your color scheme

// For example:
$red: #FD1015;
$dark-blue: #222E50;
$blue: #167FFB;
$yellow: #ffc93c;
$light-yellow: #FFFBD6;
$orange: #E67E22;
$green: #439A86;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #FFFFFF; 
$beige: #F7F3EF;

:is(h1, h2, h3, h4, h5, h6) {
    color: $dark-blue;
  }
