<div class="container mt-4">
    <h2>All recipes</h2>
    <% @recipes.each do |recipe| %>
    <div class="mt-2">
        <%= recipe.name %>
        <%= link_to "See recipe", recipe_path(recipe) %>
    </div>
    <% end %>
</div>