<div class="container mt-4">
    <h2>All recipes</h2>
    <% @recipes.each do |recipe| %>
    <div class="mt-2">
        <%= recipe.name %>
        <%= link_to "See recipe", recipe_path(recipe) %>
        <%= link_to "Delete recipe", recipe, method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?' } %>
    </div>
    <% end %>
</div>