<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4 form bg-white p-4">
      <h2 class="text-center">Create your recipe</h2>
        <%= render 'shared/recipe_form' %>
    </div>
  </div>
</div>