<div class="container">

  <%= form_tag recipes_path, class: "d-flex", method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control me-2",
    placeholder: "Find a recipe" %>
    <%= submit_tag "Search", class: "btn btn-search" %>
  <% end %>

  <%# if policy(Recipe).create? %>
     <!-- <p><%#= link_to "Create a recipe", new_recipe_path %></p> -->
  <%# end %>

  <h3 class="mt-4 mb-4">All recipes</h3>
    <%= render 'shared/card' %>
</div>