.card-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin: 0;
}

.card-title {
    font-family: 'Bitter', serif;
    font-weight: bold;
    color: $green;
    text-transform: capitalize;
}

.card-button {
    background-color: #222E50;
    color: $white;

    &:hover {
        background-color: $white;
        border-color: #222E50;
        color: #222E50;
    }
}